@import "../../../styles/all.scss";

.container {
  padding: $pageHightPadding $pageWidthPadding;
}

.head {
  display: flex;
  align-items: center;
}

.arrow {
  color: $fontLime;
  margin-right: 1rem;
  vertical-align: super;
}

.arrow:hover {
  opacity: 0.5;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.post {
  width: 50%;
  padding: 2rem;
  align-self: stretch;
}

.pager {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
