@import "../../../../styles/all.scss";

.container {
  display: flex;
}

.map {
  width: 50%;
}

.list {
  width: 50%;
  padding: $pageHightPadding $pageWidthPadding;
  background: $backgroundBlackOut;
}
