@import "../../../../styles/all.scss";

.container {
  position: fixed;
  transform: translate3d(0, 0, 0);
  width: 100vw;
  padding: $spHeaderHeightPadding $spPageWidthPadding 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.container a {
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu span:first-child {
  margin-right: 0.5rem;
}
