@import "../../../../styles/all.scss";

.container {
  padding: $spPageHightPadding $spPageWidthPadding;
}

.head {
  display: flex;
  align-items: center;
}

.arrowClick {
  display: flex;
  align-items: center;
}

.arrow {
  color: $fontLime;
  margin-right: 1rem;
  vertical-align: super;
  cursor: pointer;
}

.arrow:hover {
  opacity: 0.5;
}

.searchBox {
  padding: 2rem 1rem;
}

.noPost {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.pager {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
