@import "../../../../styles/all.scss";

.link {
  position: relative;
  display: inline-block;
}

.white {
  color: $fontWhite;
}

.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.icon:hover {
  opacity: 0.5;
}

.twitter {
  color: $twitter;
}

.facebook {
  color: $facebook;
}

.github {
  color: $github;
}

.medium {
  color: $medium;
}

.email {
  color: $email;
}

.linkedin {
  color: $linkedin;
}
