@import "../../../styles/all.scss";

.container {
  display: flex;
  align-items: center;
}

.icon {
  color: $fontLime;
  margin: 0 1rem;
}

.icon:hover {
  opacity: 0.5;
}

.pageNumber {
  text-decoration: none;
  padding: 0.5rem;
  border: 0.1rem solid $fontLime;
  margin: 0 0.5rem;
  letter-spacing: 0;
}

.pageNumber:hover {
  background: $fontLime;
}

.selected span {
  color: $fontWhite;
}

.pageNumber:hover span {
  color: $fontWhite;
}

.selected {
  background: $fontLime;
}
