@import "../../../styles/all.scss";

.container div {
  display: flex;
  justify-content: flex-end;
}

.talks span {
  margin-left: 0.5rem;
}

.world {
  margin-top: 0.5rem;
}

.border {
  margin-top: 1rem;
}

.language {
  margin-top: 1rem;
}

.language span {
  margin-left: 0.5rem;
}
