@import "../../../styles/all.scss";

.container {
  position: relative;
}

.input {
  background: $backgroundGray;
  border: none;
  border-bottom: 0.25rem solid $fontWhite;
  color: $fontWhite;
  padding: 1rem;
  padding-left: 3rem;
  font-size: 1.5rem;
}

.input:focus {
  outline: none;
}

.searchIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  margin: auto;
  color: $fontWhite;
}
