@import "../../../../styles/all.scss";

.colorCircle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
}

//color
.lime {
  background: $fontLime;
}

.orange {
  background: $fontOrange;
}
