@import "../../../../styles/all.scss";

.container {
  padding: $spPageHightPadding $spPageWidthPadding;
}

.title {
  display: flex;
}

.arrowClick {
  display: flex;
  align-items: center;
}

.arrow {
  color: $fontLime;
  margin-right: 1rem;
  vertical-align: super;
  cursor: pointer;
}

.arrow:hover {
  opacity: 0.5;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.tag span {
  margin: 1rem;
}

.detail {
  margin-top: 1rem;
  width: 85%;
  line-height: 2rem;
}

.event {
  margin: 2.5rem 0;
}

.eventName {
  margin-top: 1rem;
}

.eventDetail {
  margin-top: 1rem;
}

.eventDetail a {
  color: $fontLime;
}

.rightColumn a {
  width: 45%;
  margin: 2.5%;
}

.eventDetail a:hover {
  opacity: 0.5;
}

.photoCarousel {
  margin-bottom: 2.5rem;
  border: 0.1rem solid $fontLime;
}
