@import "../../../../styles/all.scss";

.container button span {
  margin-right: 1rem;
}

.container {
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid $fontLime;
  padding: 1.5rem 0;
}

.container span:first-child {
  width: 50%;
}

.container span:nth-child(2) {
  width: 20%;
}

.container a {
  width: 40%;
}
