$backgroundBlack: #0f0f0f;
$backgroundBlackOut: rgba(0, 0, 0, 0.75);

// font
$fontWhite: #fff;
$fontLime: #07ef06;
$fontOrange: #efb906;
$fontGray: #909190;

// change
$hoverLime: #d8f6ce;
$unSelectedLime: #0b610b;
