@import "./all.scss";

html {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.25em;

  @include pc {
    font-size: 10px;
  }

  @include sp {
    font-size: 8px;
  }
}

body {
  margin: 0;
  background: $backgroundBlack;
}

div {
  box-sizing: border-box;
}
