@import "../../../styles/all.scss";

.container {
  position: fixed;
  width: 100%;
  padding: $pageWidthPadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.menu {
  display: flex;
  align-items: center;
}

.menu span:first-child {
  margin-right: 0.5rem;
}
