@import "../../../styles/all.scss";

.container {
  padding: $pageHightPadding $pageWidthPadding;
  display: flex;
}

.column {
  width: 50%;
}

.head {
  display: flex;
  align-items: center;
}

.arrow {
  color: $fontLime;
  margin-right: 1rem;
  vertical-align: super;
}

.arrow:hover {
  opacity: 0.5;
}

.photo {
  width: 100%;
  margin-top: 2rem;
}

.photo img {
  width: 25rem;
}

.linkIcons {
  width: 25rem;
  display: flex;
  justify-content: center;
}

.linkIcon {
  margin: 1rem;
}

.tags {
  display: flex;
}

.tags span {
  margin: 0.5rem;
}
