@import "../../../../styles/all.scss";

.text {
  word-wrap: break-word;
}

// type
.h1 {
  font-size: 4.5rem;

  @include sp {
    font-size: 3rem;
  }
}

.h2 {
  font-size: 3.5rem;

  @include sp {
    font-size: 2.5rem;
  }
}

.h3 {
  font-size: 2rem;
}

.p {
  font-size: 1.5rem;
}

// color
.white {
  color: $fontWhite;
}

.lime {
  color: $fontLime;
}

.gray {
  color: $fontGray;
}

// italic and bold
.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}
