@import "../../../styles/all.scss";

.top {
  position: relative;
}

.topImage {
  width: 100%;
  min-height: 300px;
}

.topImage img {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  opacity: 0.25;
}

.menu {
  display: flex;
  align-items: center;
}

.menu span:first-child {
  margin-right: 0.5rem;
}

.topMessage {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 $pageWidthPadding;
  display: flex;
  align-items: center;
}

.bar {
  display: flex;
  justify-content: flex-end;
}

.talkmap {
  margin-bottom: $pageHightPadding;
}
