@import "../../../../styles/all.scss";

.container {
  border-bottom: 0.1rem solid $fontLime;
  padding: 1.5rem 0;
}

.container:hover {
  opacity: 0.5;
}

.container a {
  text-decoration: none;
}

.head {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.head div:first-child {
  margin-right: 1.5rem;
  flex-basis: 1.5rem;
}

.head span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}

.bottom {
  display: flex;
}

.bottom span:first-child {
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 1rem;
}
