@import "../../../../styles/all.scss";

.top {
  position: relative;
}

.topImage img {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  object-position: 35%;
  opacity: 0.25;
}

.menu {
  display: flex;
  align-items: center;
}

.menu span:first-child {
  margin-right: 0.5rem;
}

.topMessage {
  position: absolute;
  width: 100%;
  top: 15vh;
  right: 0;
  padding: 0 $spPageWidthPadding;
  display: flex;
  align-items: center;
}

.scrollIcon {
  position: absolute;
  bottom: 2rem;
  right: 0;
  left: 0;
  margin: auto;
  color: $fontLime;
  display: flex;
  justify-content: center;
  opacity: 0.8;
}

.talkmap {
  margin-bottom: $spPageHightPadding;
}

.worldList {
  padding: 0 $spPageWidthPadding;
}

.talkList {
  padding: 0 $spPageWidthPadding;
  margin: 5rem 0;
}
