@import "../../../styles/all.scss";

.container {
  padding: $pageHightPadding $pageWidthPadding;
  display: flex;
}

.leftColumn {
  width: 50%;
}

.arrow {
  color: $fontLime;
  margin-right: 1rem;
  vertical-align: super;
  cursor: pointer;
}

.arrow:hover {
  opacity: 0.5;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.tag span {
  margin: 1rem;
}

.detail {
  margin-top: 1rem;
  width: 85%;
  line-height: 2rem;
}

.event {
  margin-top: 2.5rem;
}

.eventName {
  margin-top: 1rem;
}

.eventDetail {
  margin-top: 1rem;
}

.eventDetail a {
  color: $fontLime;
}

.rightColumn a {
  width: 45%;
  margin: 2.5%;
}

.eventDetail a:hover {
  opacity: 0.5;
}

.rightColumn {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
