@import "../../../styles/all.scss";

.container {
  padding: 1.5rem 1rem;
  display: flex;
}

.thumbnail {
  width: 30%;
  padding: 0 1rem;
}

.content {
  width: 70%;
  padding: 0 1rem 0 4rem;
}

.tag span {
  margin: 0.5rem;
}

.abstract {
  margin-top: 2rem;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
