@import "../../../../styles/all.scss";

.svg {
  width: 100vw;
  height: 100vh;
}

.mapPin {
  cursor: pointer;
}

.mapPin:hover {
  fill: $hoverLime;
  z-index: 100;
}

.mapText {
  display: none;
  pointer-events: none;
}

.mapPin:hover + .mapText {
  display: block;
}
